<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Game 2048</title>
</head>
<body>
    <h2>GAME 2048</h2>
    <textarea id="log" cols="100" rows="20"></textarea><br>
    <input id="input" type="text" size="100" autocomplete="off"><br>
    {{ room_name|json_script:"room-name" }}
    <script>
        // const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/game/new'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#input').focus();
        document.querySelector('#input').onkeyup = function(e) {
            let text = 'key=' + e.key
            chatSocket.send(JSON.stringify({
                'message': text
            }));

        };

        // document.querySelector('#chat-message-submit').onclick = function(e) {
        //     const messageInputDom = document.querySelector('#chat-message-input');
        //     const message = messageInputDom.value;
        //     chatSocket.send(JSON.stringify({
        //         'message': message
        //     }));
        //     messageInputDom.value = '';
        // };

    </script>
</body>
</html>